* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* for mobile  */





@media screen and (max-width:576px){
    body{max-width: 576px;border: 4px solid red;overflow: hidden,scroll;box-sizing: border-box;}
    .skills-container, .resume,.back{flex-direction: column;gap: 10px;}
    .skill{padding: 0px;margin: 0px; width: 576px;}
    .skill-description,.xc{width: 200px;}
.heloo{ margin: 40px 0  40px 50px;}
.tect{width: 250px;margin-left: 40px;}
.xc{margin-left: 50px;}
.ax{margin-left: 60px;}
.bm{margin-left: 50px;width: 250px;}
.zx{margin-left: 50px;}
.summary{margin:0 0 20px 10px;width: 37%;}
.fill{width: 200px;margin-left: 30px;}
.form{margin: 0 0 0 20px;display: flex;flex-direction: column;}
#hj{margin-bottom: 90px; width: 20%;}
.text{width: 30%;height: 20%;}
.let{margin:0 0 30px 30px;}
.about{width: 280px;padding: 20px;}
.tablie {
   display: flex;flex-direction: column;
    font-size: 18px;margin: 20px 0 0px 0;gap: 15px;padding-bottom: 30px;
}
.me{margin-bottom: 20px;}
.ui{flex-direction: column;align-items: end;margin-right: 20px;gap: 20px;}
.title{ justify-content: space-around;}
.banner{flex-direction: column;}
.maryy{margin-left: 10px;}
.padding{padding: 13px 28px;}


}
/* for tablet */




@media screen and (min-width:577px),(max-width:996px){
 
}
/* for laptop or pc  */



@media screen and (min-width:997px){
    .skill{padding: 0px;margin: 60px 0 0 0;}
    .skills-container {margin-top: 60px;}
.tect{text-align: center;padding: 0 150px 0 150px;}
.heloo{ text-align: center;  padding: 130px 150px 30px;}
.summary{text-align: center;
    margin: 130px 350px 113px;}
    .back{display: flex;padding: 130px 150px;text-align: left;}
    .let{  text-align: center;}
.form{padding: 120px;}
.text{width: 100%;
    height: 100%;    margin-bottom: 24px;}
    .about{text-align: center;padding: 130px 150px;}
    .hi{  padding: 30px 0px; text-align: center;}
    .tablie {
        display: flex;
        font-size: 18px;
        justify-content: space-around;
    }
.padding{padding: 18px 35px;}
    .title {
        display: flex;
        justify-content: space-between;
       padding: 50px 200px;
    }
.ui{align-items: center;}

}






/* header and nav */


.ui li {
    list-style: none;
    margin-left: 50px;
}

.mary {
    color: coral;
}

.maryy {
    font-size: 45px;
    font-weight: 1200;
}



.ui {
    display: flex;
    
}
.koko{display: flex;}
.padding {
    border-radius: 5px;
    background: #fb6d07;
    color: aliceblue;
    font-size: 20px;
    
    border: 0;
}

/* banner */
.banner {
    margin: 0px 200px;
    display: flex;
    align-items: center;
}

.banner h3 {
    display: flex;
    font-size: 45px;
    font-weight: 800;
}

.banner h1 {
    font-size: 85px;
    /* margin-top: 10px; */
    font-weight: 800;
    padding: 13px 0px 25px 0px;
}

/* .bannner{margin-top: 30px;} */
.bannerr {
    font-size: 18px;
    font-weight: 500;
}

.header {
    background-color: aliceblue;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.main {
    width: 1140px;
    margin: 70px auto;
}

.about {
    font-size: 35px;
    
    font-weight: 700;
    
    border-radius: 10px;
    background: #FFF8F3;
}

.hi {
    font-size: 20px;
   
    font-weight: 400;
  
}

/* table{border-collapse: collapse;} */
/* th,td{border: 6px solid #FFF8F3;font-size: medium;padding: 0px 40px;} */



.aaa {
    color: #757575;
}

.heloo {
    font-size: 35px;
   
    font-weight: 700;
  
    border-radius: 10px;
}


.tect{color: #757575;
    font-size: 19px;}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px 30px 30px 40px;
    margin-top: 0px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.pic {
    /* padding: 15px 10px 10px 0px; */
}

.skill-title {
    padding: 10px 14px 20px 0px;
    font-weight: bold;
}

.skill-description {
    font-size: 19px;
    color: #757575;
}

.summary {
    
    display: flex;
    font-size: 35px;
    font-weight: 700
}

.resume {
    display: flex;
    gap: 24px;
}

.ax {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}

.bm {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 12px;
    color: #474747;
}

.zx {
    font-size: 20px;
    font-weight: 700;
    color: #757575;
    padding-bottom: 20px;
}

.xc {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 60px;
    color: #757575;
}

/* .qw{padding: 19px 18px 19px 50px;background-color: #fb6d07;color: #FFF;} */
.qw {
    text-align: center;
    padding-bottom: 113px;
}

.wq {
    padding: 19px 35px;
    margin-top: 50px;
    background: #fb6d07;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
}

.let {
  
    font-size: 35px;
    font-weight: 700;
}

.back {
    background-color: #FFF8F3;
    
    gap: 30px;
    
    
}

.fill {
    font-size: 16px;
    font-weight: 500;
    color: #474747;
    padding-top: 20px;
    margin-bottom: 30px;
}

.am {
    font-size: 16px;
    font-weight: 500;
    color: #474747;
    padding-top: 20px;
    padding: 2px 0px 30px 0px;
}

.form {
    gap: 24px;
    
}

.text {
   

    
    padding-bottom: 10px;
    text-align: left;
}

.icon {
    margin: 30px 24px 0px 0px;
}