* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* header and nav */
.title {
    display: flex;
    justify-content: space-between;
   padding: 50px 200px;
}

.ui li {
    list-style: none;
    margin-left: 50px;
}

.mary {
    color: coral;
}

.maryy {
    font-size: 45px;
    font-weight: 1200;
}



.ui {
    display: flex;
    align-items: center;
}

.padding {
    border-radius: 5px;
    background: #fb6d07;
    color: aliceblue;
    font-size: 20px;
    padding: 18px 35px;
    border: 0;
}

/* banner */
.banner {
    margin: 0px 200px;
    display: flex;
    align-items: center;
}

.banner h3 {
    display: flex;
    font-size: 45px;
    font-weight: 800;
}

.banner h1 {
    font-size: 85px;
    /* margin-top: 10px; */
    font-weight: 800;
    padding: 13px 0px 25px 0px;
}

/* .bannner{margin-top: 30px;} */
.bannerr {
    font-size: 18px;
    font-weight: 500;
}

.header {
    background-color: aliceblue;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.main {
    width: 1140px;
    margin: 70px auto;
}

.about {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    padding: 130px 150px;
    border-radius: 10px;
    background: #FFF8F3;
}

.hi {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    padding: 30px 0px;
}

/* table{border-collapse: collapse;} */
/* th,td{border: 6px solid #FFF8F3;font-size: medium;padding: 0px 40px;} */

.tablie {
    display: flex;
    font-size: 18px;
    justify-content: space-around;
}

.aaa {
    color: #757575;
}

.heloo {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    padding: 130px 150px 30px;
    border-radius: 10px;
}

.text {
    text-align: center;
    color: #757575;
    font font-size: 19px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px 30px 30px 40px;
    margin-top: 60px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.pic {
    /* padding: 15px 10px 10px 0px; */
}

.skill-title {
    padding: 10px 14px 20px 0px;
    font-weight: bold;
}

.skill-description {
    font-size: 19px;
    color: #757575;
}

.summary {
    text-align: center;
    margin: 130px 350px 113px;
    display: flex;
    font-size: 35px;
    font-weight: 700
}

.resume {
    display: flex;
    gap: 24px;
}

.ax {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}

.bm {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 12px;
    color: #474747;
}

.zx {
    font-size: 20px;
    font-weight: 700;
    color: #757575;
    padding-bottom: 20px;
}

.xc {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 60px;
    color: #757575;
}

/* .qw{padding: 19px 18px 19px 50px;background-color: #fb6d07;color: #FFF;} */
.qw {
    text-align: center;
    padding-bottom: 113px;
}

.wq {
    padding: 19px 35px;
    margin-top: 50px;
    background: #fb6d07;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
}

.let {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.back {
    background-color: #FFF8F3;
    display: flex;
    gap: 30px;
    text-align: left;
    padding: 130px 150px;
}

.fill {
    font-size: 16px;
    font-weight: 500;
    color: #474747;
    padding-top: 20px;
    margin-bottom: 30px;
}

.am {
    font-size: 16px;
    font-weight: 500;
    color: #474747;
    padding-top: 20px;
    padding: 2px 0px 30px 0px;
}

.form {
    gap: 24px;
    padding: 120px;
}

.text {
    gap: 24px;
    margin-bottom: 24px;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    text-align: left;
}

.icon {
    margin: 30px 24px 0px 0px;
}